body {
  background-color: #0c0a0a;
}
.form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.form-input {

  width: 300px;
  padding: 8px 12px;
  border: 1px solid red;
  border-radius: 30px;
  margin-left: auto;
}
::placeholder {
      color: red;
      letter-spacing: 5px;
      opacity: 0.6;
}
.select {
  width: 100px;
  padding: 8px 12px;
  border-radius: 15px;
  border: 1px solid red;
      color: red;
}

.resett {

    width: 100px;
      padding: 8px 12px;
      border-radius: 15px;
      border: 1px solid red;
      color: red;
      cursor: pointer;
}
.resett:hover {
background-color: #000;
      border: 1px solid #fff;
color: #fff;
}

.result {
  width: 300px;
  padding: 8px 12px;
    border-radius: 15px;
    border: 1px solid red;
    margin: 0 auto;
    background-color: #fff;
    color: rgb(47, 169, 36);
    margin-top: 20px;
}

.resultt {
  width: 300px;
  padding: 8px 12px;
    border-radius: 15px;
    border: 1px solid red;
    margin: 0 auto;
    color: rgb(47, 169, 36);
    background-color: #fff;
    margin-top: 100px;

}